<div id="item_1" style="width:100px;height:30px;background-color:green;">Computers</div>
<div id="item_2" style="width:100px;height:30px;background-color:green;">Softwares</div>
<div id="item_3" style="width:100px;height:30px;background-color:green;">Design</div>
<div id="item_4" style="width:100px;height:30px;background-color:green;">Materials</div>
<div id="item_5" style="width:100px;height:30px;background-color:green;">Painting</div>
<div id="item_6" style="width:100px;height:30px;background-color:green;">Arts</div>
<div id="item_7" style="width:100px;height:30px;background-color:green;">Competitions</div>
<div id="item_8" style="width:100px;height:30px;background-color:green;">General</div>
<div id="item_9" style="width:100px;height:30px;background-color:green;">Updates</div>
