<div id = "itemContent">
		<div id = "imageList">
			<img src = "{{ STATIC_URL }}images/portfolio/view_1.jpg" class = "imageList_image"/>
			<img src = "{{ STATIC_URL }}images/portfolio/view_2.jpg" class = "imageList_image"/>
			<img src = "{{ STATIC_URL }}images/portfolio/view_3.jpg" class = "imageList_image"/>
			<img src = "{{ STATIC_URL }}images/portfolio/view_4.jpg" class = "imageList_image"/>
		</div>
		<div id = "item_right_box">
		<div id = "imageBox">
			<img src = "{{ STATIC_URL }}images/portfolio/view_1.jpg" id = "imageViewed"/><!--you should load the cover pic here-->
		</div>
		<div id = "text_box">
			<h3 id = "item_title">This is The Title</h3><br />
			<p id = "item_desc">
				{{ item.content }}		
			</p>
		</div>
		</div>
		<script type = "text/JavaScript">
			$('.imageList_image').click(function(){
				//$(this).parent('#imageList').siblings('#item_right_box').children('#imagebox').children('#imageViewed').attr('src',$(this).attr('src'));
				$(this).parent('#imageList').siblings('#item_right_box').children('#imageBox').children('#imageViewed').attr('src',$(this).attr('src'));
				console.log('done');
			});
		</script>
	</div>
