<!DOCTYPE html>

<html>

<head>
<title>archilane</title>
{% load static %}
<link type="text/css" href="{{ STATIC_URL }}css/landing_page/landingPage_styles.css" rel="stylesheet"></link>
<link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}images/commonElements/favicon.png" />
<script type = "text/JavaScript" src = "{{ STATIC_URL }}js/commonElements/jquery.min.js"></script>

</head>

<body>
<div id="Header">
		<img src="{{ STATIC_URL }}images/commonElements/header.png"/>
	
		<div id = "topBand"></div>
		
		<div id = "bottomBand"></div>
</div>
<div id = "container">
	<div id = "container_back"></div>
</div>

</body>

</html>
