<html>
<form action='/site_auth/forgot_pass/' method='POST'> {% csrf_token %}
		<table>
	         	{% for field in form %}
                        	<tr><div class ='fieldwrapper'>
                                	<td>{{ field.label_tag }}:</td><td>{{field}}</td>
	        	{{ form.name_of_field.errors }}
                                <td>{{ field.errors }}</td>
        	                </div></tr>
                	{% endfor %}
	        </table>
<input type='submit' value='Send'>
</form>
</html>
