<!DOCTYPE html>
<html>

<head>
<title>Archilane</title>
<link type="text/css" href="../commonElements/commonElements.css" rel="stylesheet"></link>
<link type="text/css" href="forum_stylesheet.css" rel="stylesheet"></link>
<script type = "text/JavaScript" src = "../commonElements/jquery-1.9.1.min.js"></script>
</head>

<body>
<div id = "main_content">
	<!--This is the main content of the page according to the corresponding app or the main page-->
	<div id = "main_content_header">
	Forum-Home
	</div>
	
	<div id = "buttons_box">
		<button type = "button" name = "my_activity">My Activity</button>
		<button type = "button" name = "active_topics">Active Topics</button>
		<button type = "button" name = "latest_topics">Latest Topics</button>
		<button type = "button" name = "post_a_topic">Post a Topic</button>
	</div>
	
	<table id = "forum_read_topic" border = "0" cellspacing = "0">
		<caption id = "forum_read_topic_title">
		This is the title of the topic that I am posting.This is the title of the topic that I am posting.This is the title of the topic that I am posting.This is the title of the topic that I am posting.This is the title of the topic that I am posting.This is the title of the topic that I am posting.This is the title of the topic that I am posting.This is the title of the topic that I am posting.This is the title of the topic that I am posting.
		</caption>
		
		<tr id = "forumRead_question">
		<td class = "forum_read_detailBox">
			<img src = "../commonElements/profile_pic.jpg" class = "forum_read_profilepic"/>
			<p class = "post_username">Ranjeeth Mahankali</p>
			<br />
			<p class = "date_time"><span>Date</span><br />Time</p>
		</td>
		
		<td class = "forum_read_body">
		<p>	This is the body or the explanation of the topic that I am posting.This is the body or the explanation of the topic that I am postingThis is the body or the explanation of the topic that I am postingThis is the body or the explanation of the topic that I am postingThis is the body or the explanation of the topic that I am postingThis is the body or the explanation of the topic that I am posting
			This is the body or the explanation of the topic that I am posting.This is the body or the explanation of the topic that I am postingThis is the body or the explanation of the topic that I am postingThis is the body or the explanation of the topic that I am postingThis is the body or the explanation of the topic that I am postingThis is the body or the explanation of the topic that I am posting
			This is the body or the explanation of the topic that I am posting.This is the body or the explanation of the topic that I am postingThis is the body or the explanation of the topic that I am postingThis is the body or the explanation of the topic that I am postingThis is the body or the explanation of the topic that I am postingThis is the body or the explanation of the topic that I am posting
			This is the body or the explanation of the topic that I am posting.This is the body or the explanation of the topic that I am postingThis is the body or the explanation of the topic that I am postingThis is the body or the explanation of the topic that I am postingThis is the body or the explanation of the topic that I am postingThis is the body or the explanation of the topic that I am posting
			This is the body or the explanation of the topic that I am posting.This is the body or the explanation of the topic that I am postingThis is the body or the explanation of the topic that I am postingThis is the body or the explanation of the topic that I am postingThis is the body or the explanation of the topic that I am postingThis is the body or the explanation of the topic that I am posting
		</p>
		
		</td>
		</tr>
	</table>
	
	<div id = "post_button_box">
	<button type = "button" name = "post_a_topic" id = "reply_btn">Post Reply under this Topic</button>
	</div>
	
	<br /><br />
	
	<table id = "forum_read_posts" border = "0" cellspacing = "0">
		<caption id = "forum_read_postList_header">
			23 Replies
		</caption>
	
	
		<tr class = "forum_read_post">
			<td class = "forum_read_detailBox">
				<img src = "../commonElements/profile_pic.jpg" class = "forum_read_profilepic"/>
				<p class = "post_username">Ranjeeth Mahankali</p>
				<br />
				<p class = "date_time"><span>Date</span><br />Time</p>
			</td>
		
			
			<td class = "forum_read_postBody">
				<p>All Harry’s spellbooks, his wand, robes, cauldron, and top-of-the-line Nimbus Two Thousand broomstick had been locked in a cupboard under the stairs by Uncle Vernon the instant Harry had come home. What did the Dursleys care if Harry lost his place on the House Quidditch team because he hadn’t practiced all summer? What was it to the Dursleys if Harry went back to school without any of his homework done? The Dursleys were what wizards called Muggles (not a drop of magical blood in their veins), and as far as they were concerned, having a wizard in the family was a matter of deepest shame. Uncle Vernon had even padlocked Harry’s owl, Hedwig, inside her cage, to stop her from carrying messages to anyone in the wizarding world.
				Harry</p>
				
				<button type = "button" name = "reply_to_post" class = "reply_to_post_btn">Reply</button>
			</td>
		</tr>
		
		<tr class = "forum_read_post">
			<td class = "forum_read_detailBox">
				<img src = "../commonElements/profile_pic.jpg" class = "forum_read_profilepic"/>
				<p class = "post_username">Ranjeeth Mahankali</p>
				<br />
				<p class = "date_time"><span>Date</span><br />Time</p>
			</td>
		
			<td class = "forum_read_postBody">
				<p>This is a very short reply, only one line of text. This is a very short reply, only one line of text. This is a very short reply, only one line of text. This is a very short reply, only one line of text. </p>
				
				<button type = "button" name = "reply_to_post" class = "reply_to_post_btn">Reply</button>
			</td>
		</tr>
	
		</table>

</div>

<!--div id = "container_home"-->	
	<div id = "Header_2">
		<img src = "../commonElements/header_2.png"/>
		
		<div id = "topBand_2"></div>
		<div id = "bottomBand_2"></div>
		
		<div id = "top_arrow">
		<img src = "../commonElements/arrow_down.png" id = "arrow_img"/>
		</div>
		
		<input type = "text" name = "Search_box" id = "Search_box" placeholder = "Search Archilane"/>
		
		<!--div id = "search_glass"><img src = "../commonElements/search_glass.png"/></div-->
		<div id = "download_basket"><img src = "../commonElements/download_basket.png"/></div>
		<div id = "home_btn">
		<p>Home</p>
		</div>
	</div>
	
	<div id = "mainNavigation_panel">
		<div id = "portfolio_icon" class = "main_navigation_icon">
			<img src = "../commonElements/portfolio_icon.png"/>
			<p class = "mainNavigation_icon_text">Portfolio</p>
		</div>
		
		<div id = "forum_icon" class = "main_navigation_icon">
			<img src = "../commonElements/forum_icon.png"/>
			<p class = "mainNavigation_icon_text">Forum</p>
		</div>
		
		<div id = "resources_icon" class = "main_navigation_icon">
			<img src = "../commonElements/resources_icon.png"/>
			<p class = "mainNavigation_icon_text">Resources</p>
		</div>
		
		<div id = "people_icon" class = "main_navigation_icon">
			<img src = "../commonElements/people_icon.png"/>
			<p class = "mainNavigation_icon_text">People</p>
		</div>
		
		<div id = "messages_icon" class = "main_navigation_icon">
			<img src = "../commonElements/messages_icon.png"/>
			<p class = "mainNavigation_icon_text">Messages</p>
		</div>
	</div>
	
	<div id = "panel_left">
	<!--This is the secondary navigation bar-->
		<div id = "forum_navigation">
		<p id = "browse_categories">Browse Categories<p>
		<p class = "forum_category">Group One</p>
		<div class = "subcategory_panel">
			<p class = "forum_subcategory">Category one</p>
			<p class = "forum_subcategory">Category two</p>
			<p class = "forum_subcategory">Category three</p>
			<p class = "forum_subcategory">Category four</p>
		</div>
		<p class = "forum_category">Group two</p>
		<div class = "subcategory_panel">
			<p class = "forum_subcategory">Category one</p>
			<p class = "forum_subcategory">Category two</p>
			<p class = "forum_subcategory">Category three</p>
			<p class = "forum_subcategory">Category four</p>
		</div>
		<p class = "forum_category">Group three</p>
		<div class = "subcategory_panel">
			<p class = "forum_subcategory">Category one</p>
			<p class = "forum_subcategory">Category two</p>
			<p class = "forum_subcategory">Category three</p>
			<p class = "forum_subcategory">Category four</p>
		</div>
		<p class = "forum_category">Group four</p>
		<div class = "subcategory_panel">
			<p class = "forum_subcategory">Category one</p>
			<p class = "forum_subcategory">Category two</p>
			<p class = "forum_subcategory">Category three</p>
			<p class = "forum_subcategory">Category four</p>
		</div>
		<p class = "forum_category">Group five</p>
		<div class = "subcategory_panel">
			<p class = "forum_subcategory">Category one</p>
			<p class = "forum_subcategory">Category two</p>
			<p class = "forum_subcategory">Category three</p>
			<p class = "forum_subcategory">Category four</p>
		</div>
		</div>
		
		<div style = "font-size:13px;width:100%;height:150px;">
			<hr />
			ad
		</div>
		
	</div>
	

	
	<!--div id = "panel_right"-->
	<!--The one with the profile pic and also the archifeed-->
		<div id = "profile_info" class = "panel_right">
		<!--Profile information points etc.-->
			<img src = "../commonElements/profile_pic.jpg" id = "profile_pic"/>
		
			<p id = "profileInfo_userName">Ranjeeth <br /> Mahankali</p>
			<p id = "profileInfo_collegeName">Dept. of Arch and Planning <br />IIT Roorkee</p>
			<p id = "profileInfo_links"><a id = "logout_btn">Logout</a> | <a id = "settings_btn">Settings</a></p>
		
			<div id = "points">
			<img src = "../commonElements/points_icon.png" id = "points_icon">
			<p>123</p><!--maximum number of digits limited to 7 only-->
			</div>
		
		</div>
		
		<!--div id = "archifeed" class = "panel_right">
			<div id = "archifeed_header">
				<em>Archifeed</em>
			</div>
			<div class = "archifeed_item">
			</div>
			<div class = "archifeed_item">
			</div>
			<div class = "archifeed_item">
			</div>
		</div-->
	<!--/div-->
	
	<div id = "searchResults_panel">
	
		<div class = "search_accordion_header">
			Forum	
			<img src = "../commonElements/Loading_gif.gif"/ class = "loading_gif">
			<p id = "forum_result_number" class = "search_result_number"></p>
		</div>
		<div class = "search_accordion_content" id = "forum_results">
			<!--div class = "search_accordion_result"></div>
			<div class = "search_accordion_result"></div-->
			
		</div>
		<div class = "search_accordion_header">
			Resources
			<img src = "../commonElements/Loading_gif.gif"/ class = "loading_gif">
			<p id = "forum_result_number" class = "search_result_number"></p>
		</div>
		<div class = "search_accordion_content" id = "resources_results">
			<!--div class = "search_accordion_result"></div>
			<div class = "search_accordion_result"></div>
			<div class = "search_accordion_result"></div-->
		</div>
		<div class = "search_accordion_header">
			People
			<img src = "../commonElements/Loading_gif.gif"/ class = "loading_gif">
			<p id = "forum_result_number" class = "search_result_number"></p>
		</div>
		<div class = "search_accordion_content" id = "people_results">
			<!--div class = "search_accordion_result"></div>
			<div class = "search_accordion_result"></div>
			<div class = "search_accordion_result"></div-->
		</div>
		<div class = "search_accordion_header">
			Archifeed
			<img src = "../commonElements/Loading_gif.gif"/ class = "loading_gif">
			<p id = "forum_result_number" class = "search_result_number"></p>
		</div>
		<div class = "search_accordion_content" id = "archifeed_results">
			<!--div class = "search_accordion_result"></div>
			<div class = "search_accordion_result"></div>
			<div class = "search_accordion_result"></div>
			<div class = "search_accordion_result"></div>
			<div class = "search_accordion_result"></div-->
		</div>
	
	</div>
	
	<div id = "side_arrow">
	<
	</div>
	
<!--/div-->
	
	<script type = "text/JavaScript" src = "../commonElements/commonScript.js"></script>
	<script type = "text/JavaScript" src = "forum_script.js"></script>
	
</body>

</html>
