
<div id = "topic_content">
	<!--This is the main content of the page according to the corresponding app or the main page-->
	<div id = "main_content_header">
	Topic
	</div>	
	<div id = "buttons_box">
		<span class="my_activity"><button type = "button" name = "my_activity"> My Activity </button></span>
		<span class="active_topics"><button type = "button" name = "active_topics"> Active Topics </button></span>
		<span class="latest_topics"><button type = "button" name = "latest_topics"> Latest Topics </button></span>
		<a class='inline' href="#add_topic"><button type = "button" name = "post_a_topic">Post a Topic</button></a>
	</div>	
	
	<table id = "forum_read_topic" border = "0" cellspacing = "0">
		<caption id = "forum_read_topic_title">
			<p id="topic_{{ topic.pk }}" class="topic"> 
				{{ topic.topic_name }} 
			</p>
		</caption>
		
		<tr id = "forumRead_question">
		<td class = "forum_read_detailBox">
			<img src = "{{ topic.topic_by.userprofile.image.url }} " class = "forum_read_profilepic"/>
			<p class = "post_username"> 
				{{ topic.topic_by.first_name }} 
			</p>
			<br />
			<p class = "date_time">
				<p class = "date_time"> 
				{{ topic.topic_date|date:'Y-m-d' }} <br/>
				{{ topic.topic_date|date:'H:i' }} 
				</p>
			</p>
			
		</td>		
		<td class = "forum_read_body">
			<p>	
				{{ topic.topic_desc }}
			</p>		
		</td>
		</tr>
	</table>
	
	<!-- Post input_box -->
	<div style="display:none;">
		<div id="add_post">
			<form id="add_post_form" action="/forum/add_post/" method="POST"> {% csrf_token %}
				<textarea name="post_content"></textarea>
				<input type = "hidden" name="topic" value = "{{ topic_id }}">
				<input type = "submit" value= "Submit">
			</form>
		</div>
	</div>
	<!-- end -->	

	<div id = "post_button_box">
		<a id="add_post_{{topic.pk}}" class='inline' href="#add_post">
			<button type = "button" name = "post_a_topic" id = "reply_btn"> Post Reply </button>
		</a>
	</div>	
	<br /><br />	
	<table id = "forum_read_posts" border = "0" cellspacing = "0">
		<caption id = "forum_read_postList_header">
			 Replies_num
		</caption>
		
		{% for post in posts %}	
		<tr id = "post_{{ post.pk }}" class = "forum_read_post">
			<td class = "forum_read_detailBox">
				<img src = "{{ post.post_by.userprofile.image.url }}" class = "forum_read_profilepic"/>
				<p class = "post_username">
					{{ post.post_by.first_name }}
				</p>
				<br />
				<p class = "date_time">
					{{ post.post_date|date:'Y-m-d' }} <br/>
					{{ post.post_date|date:'H:i' }} 
				</p>
			</td>			
			<td class = "forum_read_postBody">
				<p>
					{{ post.post_content }} | <b>Post</b>
				</p>				
				<a  class='inline' href="#add_reply_{{post.pk}}">
					<button type = "button" name = "reply_to_post" class = "reply_to_post_btn"> Reply </button>
				</a>
			</td>
		</tr>

	<!-- Reply input_box -->
	<div style="display:none;">			
		<div id="add_reply_{{ post.pk }}">			
			<form class="add_reply_form" id="add_reply_form_{{post.pk}}" action="/forum/add_reply/" method="POST"> {% csrf_token %}
				<input type="text" name="reply_content"/>
				<input type="hidden" name="post_id" value="{{post.pk}}"/>
				<input type="submit" value="Submit"/>
			</form>
		</div>
	</div>
	<!-- end -->
			{% for key,values in replies.items %}				
				{% if key == post.pk %}	
					{% for reply in values %}			
						<tr id = "reply_{{ reply.pk }}" class = "forum_read_post">
							<td class = "forum_read_detailBox">
								<img src = "{{ reply.reply_by.userprofile.image.url }}" 
									class = "forum_read_profilepic"/>
								<p class = "post_username">
									{{ reply.reply_by.first_name }}
								</p>
								<br />
								<p class = "date_time">
									{{ reply.reply_date|date:'Y-m-d' }} <br/>
									{{ reply.reply_date|date:'H:i' }} 
								</p>
							</td>			
							<td class = "forum_read_postBody">
								<p>
									{{ reply.reply_content }} | | <b>Reply</b>
								</p>				
							</td>
						</tr>
					{% endfor %}
				{% endif %}
			{% endfor %}	
		{% endfor %}
	</table>
</div>


